<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>AngularJS Tutorials</title>
  <link href="../Content/bootstrap.min.css" rel="stylesheet" />
  <style>
    .toggle {
        transition: linear 1s;
    }

    .toggle.ng-enter {
        opacity: 0;
    }

    .toggle.ng-enter-active {
        opacity: 1;
    }

    .toggle.ng-leave {
        opacity: 1;
    }

    .toggle.ng-leave-active {
        opacity: 0;
    }
  </style>
</head>

<body ng-app="app">
  <div ng-controller="AppCtrl as app">
    <button class="btn" ng-click="app.toggle=!app.toggle">Toggle Animation</button>
    <div class="toggle" ng-if="app.toggle">Some Content</div>
  </div>

  <script src="../scripts/angular.min.js"></script>
  <script src="../scripts/angular-animate.js"></script>
  <script src="main.js"></script>
</body>
</html>
