<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>AngularJS Tutorials</title>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body ng-app="myApp">

    <div ng-controller="AvengersCtrl">
        Search:
        <input type="text" class="form-control" ng-model="search.$" />
        <br />
        <table class="table table-striped">
            <tbody>
                <!-- Searches everything if the filter is a string.  If the filter is an object with a property it will try to match that property on the model objects (eg. search.name).-->
                <tr ng-repeat="actor in avengers.cast | orderBy:'name' |limitTo:5 | filter:search">
                    <td>{{actor.name | lowercase}}</td>
                    <td>{{actor.character | uppercase}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <script src="../scripts/angular.min.js"></script>
    <script src="main.js"></script>
</body>
</html>
